a,
a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #e45430;
  text-decoration: none; }

a,
a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #e45430;
  text-decoration: none; }

.header {
  background-color: #333;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-between;
  line-height: 30px;
  padding: 0 10px;
  position: sticky; }

.prm-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none; }

.prm-nav-item {
  margin: 5px; }

.scnd-nav-list {
  list-style: none; }

.scnd-nav-item {
  background-color: #333;
  border: 2px #333 solid;
  border-radius: 5px;
  margin: 2px; }

.footer {
  background-color: #333;
  color: #ffffff;
  line-height: 25px;
  text-align: center; }

a,
a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #e45430;
  text-decoration: none; }

.main-body {
  display: block; }

.banner-element {
  background-color: #e45430;
  height: 50px;
  line-height: 50px; }

.grid-container {
  background-color: #ffffff;
  display: grid;
  gap: 10px;
  grid-template-columns: 35% 35% 30%;
  margin: 20px; }

.grid-item-1 {
  background-color: #ffffff;
  border-radius: 5px;
  color: #333;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 40px;
  padding: 3px; }

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 3px; }

.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 3px; }

.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px; }

.grid-item-2,
.grid-item-3,
.grid-item-4 {
  border: 2px #e45430 solid;
  border-radius: 5px; }

.image {
  width: 100%;
  border-radius: 5px; }

.figure-element {
  margin: 5px; }

a,
a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #e45430;
  text-decoration: none; }

@media screen and (max-width: 320px) {
  .header,
  .prm-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-body,
  .grid-container {
    display: flex;
    flex-direction: column; }
  .grid-item-1 {
    margin-left: 0; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .header,
  .prm-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-body,
  .grid-container {
    display: flex;
    flex-direction: column; }
  .grid-item-1 {
    margin-left: 0px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 30px;
    padding: 0; }
  .grid-item-1 {
    margin-left: 10px; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 50px;
    padding: 0px; }
  .grid-item-1 {
    margin-left: 10px; } }

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 50px;
    padding: 0px; }
  h1 {
    font-size: 1.5em; }
  h2 {
    font-size: 1.2em; }
  p {
    font-size: 1em; } }

@media screen and (min-width: 1401px) and (max-width: 1850px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 200px;
    padding: 0px; }
  .placeholder-img {
    width: 100%; }
  h1 {
    font-size: 1.5em; }
  h2 {
    font-size: 1.2em; }
  p {
    font-size: 1em;
    max-width: 100%; } }

@media screen and (min-width: 1850px) and (max-width: 2560px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 500px;
    padding: 0px; }
  h1 {
    font-size: 1.5em; }
  h2 {
    font-size: 1.2em; }
  p {
    font-size: 1em; } }

* {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  color: #333;
  font: 100% "Mukta Vaani", sans-serif;
  overflow-x: hidden; }

h1,
h2 {
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

p {
  font-size: 0.6em;
  word-wrap: break-word; }
