.header {
  background-color: #333;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-between;
  line-height: 30px;
  padding: 0 10px; }

.prm-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none; }

.prm-nav-item {
  margin: 5px; }

.sec-nav-item {
  list-style: none; }

.sec-nav-item {
  background-color: #333;
  border: 2px #333 solid;
  border-radius: 5px;
  margin: 2px; }

a,
a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #e45430;
  text-decoration: none; }

.footer {
  background-color: #333;
  color: #ffffff;
  line-height: 25px;
  text-align: center; }

.main-body {
  display: block; }

.banner-element {
  background-color: #e45430;
  height: 50px;
  line-height: 50px; }

* {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  color: #e45430;
  font: 100% "Mukta Vaani", sans-serif;
  overflow-x: hidden; }

h1,
h2 {
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

p {
  font-size: 0.6em;
  word-wrap: break-word; }
