// COLOUR SCHEME VARIABLES
$primary-color: #ffffff;
// $secondary-color: #e9882d;
$secondary-color: #e45430;
$tertiary-color: #333;

body {
  background-color: $primary-color;
  color: $secondary-color;
}