// // IMPORTED SCSS FILES
@import "./variables.scss";
@import "./header-footer-nav.scss";
@import "./main-section.scss";
@import "./media-queries.scss";

// BASE STYLING

* {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: $tertiary-color;
  font: 100% $primary-font;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: $secondary-font;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

p {
  font-size: 0.6em;
  word-wrap: break-word;
}
