@import "./variables.scss";

// MAIN ELEMENT STYLING

.main-body {
  display: block;
}

.banner-element {
  background-color: $tertiary-color;
  height: 50px;
  line-height: 50px;
}


// SECTION ELEMENT STYLING

.grid-container {
  background-color: $primary-color;
  display: grid;
  gap: 10px;
  grid-template-columns: 35% 35% 30%;
  margin: 20px;
}

.grid-item-1 {
  background-color: $primary-color;
  border-radius: 5px;
  color: $secondary-color;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 40px;
  padding: 3px;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 3px;
}

.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 3px;
}

.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 3px;
}

.grid-item-2,
.grid-item-3,
.grid-item-4 {
  border: 2px $tertiary-color solid;
  border-radius: 5px;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.figure-element {
  margin: 5px;
}