@import "./variables.scss";

// MEDIA QUERIES

@media screen and (max-width: 320px) {
  .header,
  .prm-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-body,
  .grid-container {
    display:flex;
    flex-direction: column;
  }

  .grid-item-1 {
    margin-left: 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .header,
  .prm-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .main-body,
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-item-1 {
    margin-left: 0px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 30px;
    padding: 0;
  }

  .grid-item-1 {
    margin-left: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    left: 0;
    top: 0;
    margin: 20px 50px;
    padding: 0px;
  }

  .grid-item-1 {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .grid-conatiner {
    left: 0;
    top: 0;
    margin: 20px 80px;
    padding: 0px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}