// COLOUR SCHEME VARIABLES
$primary-color: #ffffff;
$secondary-color: #333;
$tertiary-color: #e45430;

// FONT STYLE VARIABLES
$primary-font: 'Mukta Vaani', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;